.ab{
  font-size: 1200%;
}
h2{
  font-size: 6rem;
}
#home{
  background-color: #66bfbf;
}
.navbar-brand , .nav-item{
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 200%;
}
.navbar-brand{
  font-size: 400%;
}
.abo{
  font-size: 400%;
}
h6{
  font-size: 1.5rem;
}
#edu{
  background-color: 	#F8F8F8;
}
